
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.editor {
  min-height: 400px;
  height: auto;
  border: 1px solid #ddd;
}
.validator {
  text-align: left;
  min-height: 400px;
  font-size: 16px;
  height: auto;
  background-color: #ddd;
  border: 1px solid #ddd;
  padding: 15px;
}
.validator p {
  line-height: normal;
  margin: 0;
}
.validator p:empty {
  padding: 9px 0;
}

