
.wrapper {
  width: 100%;
  position: relative;
}
.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  color: white;
  margin: 0;
  padding: .4em 0;
}
.tips {
  position: absolute;
  left: 50%;
  bottom: 5px;
  color: #ddd;
}
.content {
  padding: 0 20px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.editor {
  min-height: 400px;
  height: auto;
  border: 1px solid #ddd;
}
.validator {
  text-align: left;
  min-height: 400px;
  font-size: 16px;
  height: auto;
  background-color: #ddd;
  border: 1px solid #ddd;
  padding: 15px;
}
.validator p {
  line-height: normal;
  margin: 0;
}
.validator p:empty {
  padding: 9px 0;
}

