
.normal {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.user-center {
    color: #fff;
}
.wrapper {
  width: 100%;
  position: relative;
}
.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  color: white;
  margin: 0;
  padding: .4em 0;
}
.tips {
  position: absolute;
  left: 50%;
  bottom: 5px;
  color: #ddd;
}
.content {
  padding: 0 20px;
}
